/* GENERAL STYLES */

  body {
    text-align: left;
    background: url("/static/images/1.jpg");
    width: 100%;
  }

  @font-face {
    font-family: 'dnevnikregular';
    src: url('/static/fonts/18014-webfont.woff2') format('woff2'),
    url('/static/fonts/18014-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


  button {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 20px;
  }

  label {
    color: #d103ff;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Helvetica;
    font-size: 15px;
  }

/*.header {*/
/*  margin: 0 auto;*/
/*}*/

/*.header p {*/
/*  color: #1d8401;*/
/*  background: #000000;*/
/*}*/

/*.header .p {*/
/*  display: inline-block;*/
/*  width: 275px;*/
/*  height: 20px;*/
/*  line-height: 5px;*/
/*  margin: 5px;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*  border: 2px solid #62605f;*/
/*  transition: color .5s;*/
/*}*/

/*.header .p:hover {*/
/*  color: #fdfdff;*/
/*}*/

.url {
  margin: 0 auto;
}

.url label {
  color: rgb(7, 97, 241);
  background: #000000;
}

.url .label {
  display: inline-block;
  width: 270px;
  height: 70px;
  line-height: 7px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  border: 2px solid #848281;
  transition: color .5s;
}

.url .label:hover {
  color: #f3590c;
}

playlistInfo {
  color: #38d125;
  font-family: Hack;
  font-size: 14px;
  margin: 10px 0 0 0;
}

stationName {
  color: #b203f1;
  font-family: Hack;
  text-transform: none;
  font-size: 14px;
  margin: 10px 0 0 0;
}
---

  .volume {

    margin: 0 auto;
  }

  .volume .button {
    color: #8b8891;
    background: black;
  }

  .volume .button {
    display: inline-block;
    width: 130px;
    height: 60px;
    line-height: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid #8b8891;
    transition: color .5s;
  }

  .volume .button:hover {
    color: #81ff2e;
  }

  .genre {

    margin: 0 auto;
  }

  .genre button {
    color: green;
    background: black;
  }

  .genre .button {
    display: inline-block;
    width: 130px;
    height: 60px;
    line-height: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid green;
    transition: color .5s;
  }

  .genre .button:hover {
    color: #81ff2e;
  }

  .next {

    margin: 0 auto;
  }

  .next button {
    color: green;
    background: black;
  }

  .next .button {
    display: inline-block;
    width: 275px;
    height: 60px;
    line-height: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid green;
    transition: color .5s;
  }

  .next .button:hover {
    color: #81ff2e;
  }

.switch {

  margin: 0 auto;
}

.switch button {
  color: #0b85f3;
  background: black;
}

.switch .button {
  display: inline-block;
  width: 275px;
  height: 60px;
  line-height: 10px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  border: 2px solid #0760ff;
  transition: color .5s;
}

.switch .button:hover {
  color: #40a6fd;
}

  .mute {

    margin: 0 auto;
  }

  .mute button {
    color: #8b8891;
    background: black;
  }

  .mute .button {
    display: inline-block;
    width: 275px;
    height: 60px;
    line-height: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid #8b8891;
    transition: color .5s;
  }

  .mute .button:hover {
    color: #fff;
  }

  .shutdown {

    margin: 0 auto;
  }

  .shutdown button {
    color: #9c0700;
    background: black;
  }

  .shutdown .button {
    display: inline-block;
    width: 275px;
    height: 80px;
    line-height: 10px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    border: 2px solid #9c0700;
    transition: color .5s;
  }

  .shutdown .button:hover {
    color: #ff3e33;
  }

