/* GENERAL STYLES */

  body {
    text-align: left;
    background: #000000;


    width: 100%;
  }

  @font-face {
    font-family: 'dnevnikregular';
    src: url('/static/fonts/18014-webfont.woff2') format('woff2'),
    url('/static/fonts/18014-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  p {
    color: #38d125;
    font-family: Hack;
    font-size: 14px;
    margin: 20px 0 0 0;
  }

  button {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 20px;
  }


  .volume {

    margin: 0 auto;
  }

  .volume .button {
    color: rgb(160, 123, 255);
    background: black;
  }

  .volume .button {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid #9c80ff;
    transition: color .5s;
  }

  .volume .button:hover {
    color: #fff;
  }

  .genre {

    margin: 0 auto;
  }

  .genre button {
    color: green;
    background: black;
  }

  .genre .button {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid green;
    transition: color .5s;
  }

  .genre .button:hover {
    color: #81ff2e;
  }

  .next {

    margin: 0 auto;
  }

  .next button {
    color: green;
    background: black;
  }

  .next .button {
    display: inline-block;
    width: 275px;
    height: 40px;
    line-height: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid green;
    transition: color .5s;
  }

  .next .button:hover {
    color: #81ff2e;
  }

  .mute {

    margin: 0 auto;
  }

  .mute button {
    color: #8b8891;
    background: black;
  }

  .mute .button {
    display: inline-block;
    width: 275px;
    height: 40px;
    line-height: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid #8b8891;
    transition: color .5s;
  }

  .mute .button:hover {
    color: #fff;
  }

  .shutdown {

    margin: 0 auto;
  }

  .shutdown button {
    color: #9c0700;
    background: black;
  }

  .shutdown .button {
    display: inline-block;
    width: 275px;
    height: 40px;
    line-height: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid #9c0700;
    transition: color .5s;
  }

  .shutdown .button:hover {
    color: #ff3e33;
  }

